//- Load variables
include ../../_orion/jade/_vars
include ../_vars

//- Page variables
- var page = {title: 'Standard layout'}

//- Load mixins
include ../../_orion/jade/_mixins
include ../_mixins

//- Import the basic page layout from Orion
include ../../_orion/jade/layouts/page
