//- Inherit the standard page layout
extends layouts/page

append head_meta
  title #{site_name} | #{page.title}

append head_js

append head_css
  mixin css('css/default')

append header
  p In the header

append main
  include ../_orion/jade/includes/styleguide

append footer
  p in the footer
